VITE_API_URL=http://localhost:8092/api
#VITE_TURNSTILE_SITE_KEY=0x4AAAAAADRI_najUKXQ_hu6

VITE_REVERB_APP_KEY=uklvnzj4zalqv2oy8h0k
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=8099
VITE_REVERB_SCHEME=http
